instances {
  {{ GEOCODING_SECONDARY_INSTANCE }} {
    secondaryType = geocoding
    numWorkers = {{ GEOCODING_SECONDARY_NUM_WORKERS }}
    config = {
      base-batch-size = {{ GEOCODING_SECONDARY_ROW_BATCH_SIZE }}
      data-coordinator-retries = 5
      internal-data-coordinator-retries = 5
      computation-retries = 5

      curator {
        ensemble = {{ ZOOKEEPER_ENSEMBLE }}
        namespace = "com.socrata/soda"
        session-timeout = 40s
        connect-timeout = 5s
        base-retry-wait = 100ms
        max-retry-wait = 10s
        max-retries = 29
      }

      data-coordinator-service = "data-coordinator"

      postgresql {
        app-name = "geocoding secondary {{ GEOCODING_SECONDARY_INSTANCE }}",
        tcp-keep-alive = true,
        c3p0 = {
          maxPoolSize = 20
          idleConnectionTestPeriod = 60
          testConnectionOnCheckin = true
          preferredTestQuery = "SELECT 1"
          maxIdleTimeExcessConnections = 300
        }
        include "/dev/shm/secondary-watcher-geocoding-pg-cache-secrets.conf"
      }

      geocoder {
        filter-multipier = 1
        cache {
          preference = {{ GEOCODING_CACHE_PREFERENCE }}
          ttl = 60 days
        }
        geocoder {
          type = {{ GEOCODING_BACKEND }}
          # This is unfortunately named (indeed, unfortunately
          # implemented altogether; this should be either an include
          # or an env var splice at the typesafe-confg level).  But's
          # just the app token, whicever backend is being used.
          {{ MAPQUEST_APP_TOKEN_LINE }}
          retry-count = 5

          # these only has an effect if type is esri
          host = "geocode.arcgis.com"
          batch-size-refresh = 1h
        }
      }
    }
  }
}
