instances {
  {{ GEOCODING_SECONDARY_INSTANCE }} {
    secondaryType = geocoding
    numWorkers = {{ GEOCODING_SECONDARY_NUM_WORKERS }}
    config = {
      base-batch-size = {{ GEOCODING_SECONDARY_ROW_BATCH_SIZE }}
      data-coordinator-retries = 5
      internal-data-coordinator-retries = 5
      computation-retries = 5

      curator {
        ensemble = {{ ZOOKEEPER_ENSEMBLE }}
        namespace = "com.socrata/soda"
        session-timeout = 40s
        connect-timeout = 5s
        base-retry-wait = 100ms
        max-retry-wait = 10s
        max-retries = 29
      }

      data-coordinator-service = "data-coordinator"

      cassandra {
        cluster = "My Cluster"
        keyspace = "delta_importer_2"
        connection-pool {
          name = "Cassandra Pool"
          port = 9160
          max-connections-per-host = 1
          seeds = {{ CASSANDRA_CP_SEEDS }}
          datacenter = "{{ CASSANDRA_DC }}"
          connect-timeout = "500ms"
        }
      }

      geocoder {
        filter-multipier = 1
        cache {
          column-family = geocode_cache
          ttl = 60 days
        }
        mapquest {
          {{ MAPQUEST_APP_TOKEN_LINE }}
          retry-count = 5
        }
      }
    }
  }
}
